In [1]:
import pandas as pd
from hw5code import *
from tree import *
from a import *

In [15]:
import numpy as np
a = np.array([1, 2, 3, 2 ,1 , 5])
b = a > 2
b

array([False, False,  True, False, False,  True])

In [20]:
c = []
for i in range(4):
    c.append([1, 2, 3])
    
c[0]

[1, 2, 3]

In [17]:
A = np.array([4, 2, 3])
B = np.array([1, 0, 1])
data = pd.DataFrame([A, B])
data.sort_values(by=0, inplace=True)
data

   0  1  2
1  1  0  1
0  4  2  3

In [4]:
train1 = pd.read_csv('train1.csv', sep=' ')

In [5]:
train1
y = np.array(train1[['ans']].values)
y = y.flatten()

In [6]:
X = train1.copy()
X = X.values
X = X[:, :-1]
X

array([[ 1.56963721e-02,  2.00000000e+00,  1.24712954e-01,
         1.00000000e+00,  0.00000000e+00],
       [-2.24268495e+00,  1.00000000e+00, -3.22794806e-01,
         2.00000000e+00,  0.00000000e+00],
       [ 1.15003572e+00,  2.00000000e+00,  8.41674713e-01,
         2.00000000e+00,  1.00000000e+00],
       [ 9.91946022e-01,  0.00000000e+00,  2.39096052e+00,
         1.00000000e+00,  0.00000000e+00],
       [ 9.53324128e-01,  2.00000000e+00,  7.61995878e-02,
         2.00000000e+00,  1.00000000e+00],
       [-2.02125482e+00,  2.00000000e+00, -5.66445930e-01,
         0.00000000e+00,  2.00000000e+00],
       [-3.34077366e-01,  0.00000000e+00,  3.61419367e-02,
         1.00000000e+00,  1.00000000e+00],
       [ 2.11836468e-03,  1.00000000e+00, -2.07497760e+00,
         0.00000000e+00,  1.00000000e+00],
       [ 4.05453412e-01,  1.00000000e+00,  2.47792200e-01,
         1.00000000e+00,  2.00000000e+00],
       [ 2.89091941e-01,  0.00000000e+00, -8.97156784e-01,
         2.00000000e+00,  2.00000000e+00]])

In [7]:
for feature in range(X.shape[1]):
    print(feature)

0
1
2
3
4

In [8]:
t1 = DecisionTree(feature_types=['real', 'categorical', 'real', 'categorical', 'categorical'])
t2 = DecisionTree1(feature_types=['real', 'categorical', 'real', 'categorical', 'categorical'])

In [9]:

t2.fit(X, y)

start_fit
[[ 1.56963721e-02  2.00000000e+00  1.24712954e-01  1.00000000e+00
   0.00000000e+00]
 [-2.24268495e+00  1.00000000e+00 -3.22794806e-01  2.00000000e+00
   0.00000000e+00]
 [ 1.15003572e+00  2.00000000e+00  8.41674713e-01  2.00000000e+00
   1.00000000e+00]
 [ 9.91946022e-01  0.00000000e+00  2.39096052e+00  1.00000000e+00
   0.00000000e+00]
 [ 9.53324128e-01  2.00000000e+00  7.61995878e-02  2.00000000e+00
   1.00000000e+00]
 [-2.02125482e+00  2.00000000e+00 -5.66445930e-01  0.00000000e+00
   2.00000000e+00]
 [-3.34077366e-01  0.00000000e+00  3.61419367e-02  1.00000000e+00
   1.00000000e+00]
 [ 2.11836468e-03  1.00000000e+00 -2.07497760e+00  0.00000000e+00
   1.00000000e+00]
 [ 4.05453412e-01  1.00000000e+00  2.47792200e-01  1.00000000e+00
   2.00000000e+00]
 [ 2.89091941e-01  0.00000000e+00 -8.97156784e-01  2.00000000e+00
   2.00000000e+00]]
глубина 1 признак 0 холды [-2.13196989 -1.17766609 -0.1659795   0.00890737  0.15239416  0.34727268
  0.67938877  0.97263508  1.07099087] джины [-0.31111111 -0.4        -0.41904762 -0.41666667 -0.4        -0.41666667
 -0.41904762 -0.375      -0.4       ]
глубина 1 признак 1 холды [0.5 1.5] джины [-0.34285714 -0.36666667]
глубина 1 признак 2 холды [-1.48606719 -0.73180136 -0.44462037 -0.14332643  0.05617076  0.10045627
  0.18625258  0.54473346  1.61631761] джины [-0.4        -0.375      -0.34285714 -0.41666667 -0.4        -0.41666667
 -0.34285714 -0.375      -0.4       ]
глубина 1 признак 3 холды [0.5 1.5] джины [-0.375      -0.36666667]
глубина 1 признак 4 холды [0.5 1.5] джины [-0.34285714 -0.3047619 ]
[[ 1.15003572  2.          0.84167471  2.          1.        ]
 [ 0.95332413  2.          0.07619959  2.          1.        ]
 [-2.02125482  2.         -0.56644593  0.          2.        ]
 [-0.33407737  0.          0.03614194  1.          1.        ]
 [ 0.00211836  1.         -2.0749776   0.          1.        ]
 [ 0.40545341  1.          0.2477922   1.          2.        ]
 [ 0.28909194  0.         -0.89715678  2.          2.        ]]
глубина 2 признак 0 холды [-1.17766609 -0.1659795   0.14560515  0.34727268  0.67938877  1.05167993] джины [-0.23809524 -0.22857143 -0.21428571 -0.19047619 -0.14285714 -0.23809524]
глубина 2 признак 1 холды [0.5 1.5] джины [-0.22857143 -0.19047619]
глубина 2 признак 2 холды [-1.48606719 -0.73180136 -0.265152    0.05617076  0.16199589  0.54473346] джины [-0.23809524 -0.22857143 -0.21428571 -0.19047619 -0.22857143 -0.23809524]
глубина 2 признак 3 холды [0.5 1.5] джины [-0.22857143 -0.19047619]
глубина 2 признак 4 холды [0.5] джины [-0.21428571]
[[1.15003572 2.         0.84167471 2.         1.        ]
 [0.95332413 2.         0.07619959 2.         1.        ]]
глубина 3 признак 0 холды [1.05167993] джины [-0.]
глубина 3 признак 2 холды [0.45893715] джины [-0.]
[[ 0.01569637  2.          0.12471295  1.          0.        ]
 [-2.24268495  1.         -0.32279481  2.          0.        ]
 [ 0.99194602  0.          2.39096052  1.          0.        ]]
глубина 2 признак 0 холды [-1.11349429  0.5038212 ] джины [-0.33333333 -0.        ]
глубина 2 признак 1 холды [0.5 1.5] джины [-0.         -0.33333333]
глубина 2 признак 2 холды [-0.09904093  1.25783673] джины [-0.33333333 -0.        ]
глубина 2 признак 3 холды [0.5] джины [-0.33333333]

In [10]:
t1.fit(X, y)

In [11]:
t1._tree

{'depth': 1,
 'type': 'nonterminal',
 'feature_split': 4,
 'categories_split': [2.0, 1.0],
 'left_child': {'depth': 2,
  'type': 'nonterminal',
  'feature_split': 0,
  'threshold': 0.6793887698413107,
  'left_child': {'depth': 3, 'type': 'terminal', 'class': 0},
  'right_child': {'depth': 3,
   'type': 'nonterminal',
   'feature_split': 0,
   'threshold': 1.0516799264161243,
   'left_child': {'depth': 4, 'type': 'terminal', 'class': 1},
   'right_child': {'depth': 4, 'type': 'terminal', 'class': 0}}},
 'right_child': {'depth': 2,
  'type': 'nonterminal',
  'feature_split': 0,
  'threshold': 0.5038211972285533,
  'left_child': {'depth': 3, 'type': 'terminal', 'class': 1},
  'right_child': {'depth': 3, 'type': 'terminal', 'class': 0}}}

In [12]:
t2._tree

{'depth': 1,
 'type': 'nonterminal',
 'feature_split': 4,
 'categories_split': [2.0, 1.0],
 'left_child': {'depth': 2,
  'type': 'nonterminal',
  'feature_split': 0,
  'threshold': 0.6793887698413107,
  'left_child': {'depth': 3, 'type': 'terminal', 'class': 0},
  'right_child': {'depth': 3,
   'type': 'nonterminal',
   'feature_split': 0,
   'threshold': 1.0516799264161243,
   'left_child': {'depth': 4, 'type': 'terminal', 'class': 1},
   'right_child': {'depth': 4, 'type': 'terminal', 'class': 0}}},
 'right_child': {'depth': 2,
  'type': 'nonterminal',
  'feature_split': 0,
  'threshold': 0.5038211972285533,
  'left_child': {'depth': 3, 'type': 'terminal', 'class': 1},
  'right_child': {'depth': 3, 'type': 'terminal', 'class': 0}}}

In [13]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data -O data.csv

--2022-12-02 23:40:54--  https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 373704 (365K) [application/x-httpd-php]
Saving to: 'data.csv'

data.csv            100%[===================>] 364.95K   469KB/s    in 0.8s

2022-12-02 23:40:56 (469 KB/s) - 'data.csv' saved [373704/373704]